version: "3.9"

services:
  frontend:
    image: preranabl/demo-fe:0.1.0
    container_name: react-frontend
    ports:
      - "3001:3001"
    environment:
      - REACT_APP_API_URL=http://backend:3000/api
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    image: preranabl/demo-be:0.1.0
    container_name: node-backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGO_URI=mongodb://admin:admin123@database:27017/tier-demo?authSource=admin
    depends_on:
      - database
    networks:
      - app-network

  database:
    image: preranabl/demo-db:0.1.0
    container_name: mongo-db
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:

volumes:
  mongo-data:
